/* style.css */

body {
    font-family: Arial, sans-serif;

    display: flex;

    justify-content: center;

    text-align: center;
    align-items: center;

    flex-direction: column;

    height: 100vh;
    background-color: #FADADD; /* Set background color to light pink */
}

#container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
    height: 5vh; /* Make the container full viewport height */
}

#image-container {
    /* This container will hold the images */
}

#question {
    font-family: 'Sacramento', cursive; /* Apply Sacramento font to the question */
    font-size: 52px; /* Set font size for the question */
    text-align: center;
    display: flex;
}

#options {
    margin-top: 20px; /* Add space above the options */
}

button {
    padding: 10px 20px; /* Set padding for buttons */
    margin: 0 10px; /* Set margin around buttons */
    font-size: 26px; /* Set font size for buttons */
    font-family: 'Sacramento', cursive; /* Apply Sacramento font to the options */
    background-color: #FB607F; /* Set button background color */
    color: white; /* Set text color to white */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer on hover */
}

#envelope {

    position: relative;

    width: 1000px;

    height: 500px;

    margin-top: 35px;

    display: flex;

    justify-content: center;

    text-align: justify;

    align-items: center;

    transition: transform 0.5s ease, opacity 0.5s ease;

    transform: scale(0);

    opacity: 0;

}


.envelope-body {

    background-color: #f3d9f8;

    border: 2px solid #ccc;

    border-radius: 5px;
    display: flex;

    position: relative;

    width: 1000px;

    height: 400px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow: hidden;

}


.letter {

    padding: 10px;
    height: 100%; /* Make letter take full height */
    font-family: 'Delius', cursive;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    display: flex;

}

textarea {

    width: 100%;

    height: 100%;

    border: none;

    outline: none;

    resize: none;

    font-family: inherit;

    font-size: 16px;

    display: flex;

}

#letter-content {

    margin: 0; /* Remove default margin */
    display: flex;
    line-height: 2; /* Improve readability */

}

.hidden {

    display: 5;

}


.animate {

    transform: scale(1);

    opacity: 1;

}


